/* Indicators */
.hero-indicators [data-bs-target] {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.6);
  margin: 0 6px;
  transition: all 0.3s ease;
}

.hero-indicators .active {
  background-color: #0d6efd;
  width: 30px;
  border-radius: 2px;
}

/* Arrow Controls */
.hero-arrow {
  width: 50px;
  height: 50px;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.45);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 20px;
  transition: all 0.3s ease;
  margin-top: 200px;
}

.carousel-control-prev.hero-arrow {
  left: 25px;
}

.carousel-control-next.hero-arrow {
  right: 25px;
}

/* Hide default bootstrap icon */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: none;
}
/* Hero Image Wrapper */
.hero-img-wrapper {
  position: relative;
  max-width: 1425px;
  height: 400px;
  margin: auto;
  overflow: hidden;
  
}

/* Image */
.hero-img {
  width: 100%;
  height: 100%;

}

/* Overlay */
.hero-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.15)
  );
}
@media (max-width: 768px) {
  .hero-img-wrapper {
    height: 200px;
    border-radius: 10px;
  }
}
