body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #93b8dd;
}

.navbar {
  background: #111;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  color: white;
}

.navbar button {
  margin-left: 10px;
  padding: 6px 12px;
  cursor: pointer;
}

.container {
  padding: 20px;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 6px;
  text-align: center;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

button {
  background: black;
  color: white;
  border: none;
  padding: 8px 12px;
}
html,
body,
#root {
  height: 100%;
  margin: 0;
}

.app-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}
